<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/done" method="post">
        <h2>Enter your otp sent to your email <span><%=mail%></span></h2><br>
        <input type="text" >
        <button type="submit" name ="otp1">Verify OTP</button>
    </form>
</body>
</html>